.dashboard-column{margin:0;padding:0;overflow:visible}

.dashboard-column-wrapper{float:left;margin:0;padding:0}

.block{margin:0 0 10px;border:1px solid #e6e6e6;background-color:#fff}

.widget{position:relative;overflow-x:auto;overflow-y:hidden;padding:10px;margin:0}

table.lg_ds_progress_bar td.label_center {
	white-space: nowrap;
	text-align: center;
	padding: 5px 10px 5px 0;
}

table.lg_ds_progress_bar td.label_left {
	white-space: nowrap;
	text-align: left;
	padding: 5px 10px 5px 0;
}

table.outline, th.outline, td.outline {
    border: 1px solid black;
	padding: 3px;
}


table tr.separator {
	height: 10px;
}

table tr.separator td{
	column-span:3
}

td {
	vertical-align:top;
}

table tr td.td_option_width {
	width:25%
}


div.text_with_background_color {
   padding: 5px 10px 5px 10px;
}

div.lg_gz_summary_rules_widget .chart {
	width: 100%;
	text-align: center;
}

div.lg_gz_summary_rules_widget .chart img {
	margin: 5px auto 0 auto;
	border: 1px solid #CECECE;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

div.lg_gz_summary_rules_widget ul {
	list-style-type: none;
	margin-top: 10px;
}

div.lg_gz_summary_rules_widget ul li {
	list-style-type: none;
	float: left;
	width: 100%;
	padding: 5px;
	background: #F2F2F2;
	margin: 0 15px 7px 0;
}

div.lg_gz_summary_rules_widget ul li a,
div.lg_gz_summary_rules_widget ul li img {
	float: right;
}

div.lg_gz_summary_scan_widget table {
    border-collapse: collapse;
    font-size: 12px;
    text-align: left;
    width: 100%;
	margin-bottom: 5px;
}

div.lg_gz_summary_scan_widget table th {
    background: none repeat scroll 0 0 #EDF2E1;
    border-bottom: 1px solid #FFFFFF;
    border-top: 4px solid #77AE00;
    color: #5B8208;
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
}

div.lg_gz_summary_scan_widget table td {
    background: none repeat scroll 0 0 #EDEDED;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid transparent;
    color: #4F7007;
    padding: 8px;
}

div.lg_gz_summary_scan_widget table tr:hover td {
    background: none repeat scroll 0 0 #F1F2ED;
    color: #5A7811;
}

div.lg_widget table {
    border-collapse: collapse;
    font-size: 12px;
    text-align: left;
    width: 100%;
	margin-bottom: 5px;
}

div.lg_widget table th {
    background: none repeat scroll 0 0 #EDF2E1;
    border-bottom: 1px solid #FFFFFF;
    border-top: 4px solid #77AE00;
    color: #5B8208;
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
}

div.lg_widget table td {
    background: none repeat scroll 0 0 #EDEDED;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid transparent;
    color: #4F7007;
    padding: 8px;
}

div.lg_widget table tr:hover td {
    background: none repeat scroll 0 0 #F1F2ED;
    color: #5A7811;
}


div.lg_widget table tr:hover td.error_hover {
    background: none repeat scroll 0 0 #ff6600;
    color: #ffffff;
	font-weight: bold;
}

div.lg_widget table tr:hover td.error_hover_href a {
    background: none repeat scroll 0 0 #ff6600;
	color:#ffffff; /* white */
	font-weight: bold;
}

div.lg_widget table tr:hover td.warn_hover {
    background: none repeat scroll 0 0 #ffff99;
    color: #5A7811;
}

table.lg_ds_progress_bar td {
	padding: 4px 10px 4px 0;
}

table.lg_ds_progress_bar td.label {
	width: 1%;
	white-space: nowrap;
	text-align: left;
	padding: 5px 10px 5px 0;
}

table.lg_ds_progress_bar td.error_label {
	width: 1%;
	white-space: nowrap;
	text-align: left;
	padding: 5px 10px 5px 0;
	background-color:#ff0000;
	color:#ffffff;
	font-weight: bold;
}

table.lg_ds_progress_bar td.error_label_href a{
	width: 1%;
	white-space: nowrap;
	text-align: left;
	padding: 5px 10px 5px 0;
	background-color:#ff0000;
	color:#ffffff;
	font-weight: bold;
}

table.lg_ds_progress_bar td.warn_label {
	width: 1%;
	white-space: nowrap;
	text-align: left;
	padding: 5px 10px 5px 0;
	background-color:#ffff00;
	font-weight: bold;
}

table.lg_ds_progress_bar th.val {
	width: 1%;
	white-space: nowrap;
	text-align: left;
	padding: 0 0 0 10px;
}

table.lg_ds_progress_bar td.val {
	width: 1%;
	white-space: nowrap;
	text-align: left;
	padding: 0 0 0 10px;
}

table.lg_ds_progress_bar td.bar {
	width: 97%;
}

table.lg_ds_progress_bar .legendValue {
	width: 10px;
	height: 10px;
	background-color: #92B7D3;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

table.lg_ds_progress_bar .legendTotal {
	width: 10px;
	height: 10px;
	background-color: #2A4269;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

table.lg_ds_progress_bar td.bar>a>div>div {
	float: right;
}
